# ----------------------------
# JavaScript Snippets
# ----------------------------
# QUnit test
snippet test
	test("${1:test_name}", function() {
		${2}
	});
# QUnit module
snippet module
	// ------------------------------------------------------------
	module("${1:module_name}", {
		setup: function() {
			${2}
		}
	});
